*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1{
	color: white;
	font: Times New Roman;
	font-family: Bold;
	text-align: top;
}
h2{	
	color: white;
	font: times new roman;
	text-align: center;
}
body{
	color: white;
	font: Times New Roman;
	font-style: normal;
	font-family: light;
	text-align: justify;
	background-color: black;
}
blockquote{
	margin: 150px;
}
.botones .angelospng img{
	position: absolute;
	width: 7%;
	top: 1%;
	left: 1%;
}
.botones .botonropa img{
	position: absolute;
	width: 7%;
	top: 1%;
	left: 10%;
}
.botones .botoncalzado img{
	position: absolute;
	width: 7%;
	top: 1%;
	left: 18%;
}
.botones .botonaccesorios img{
	position: absolute;
	width: 7%;
	top: 1%;
	left: 26%;
}
.botones .botonjoyeria img{
	position: absolute;
	width: 7%;
	top: 1%;
	left: 34%;
}
.botones .hombresicon img{
	position: absolute;
	width: 2%;
	top: 1%;
	left: 47%;
}
.botones .mujeresicon img{
	position: absolute;
	width: 2%;
	top: 1%;
	left: 51%;
}
.botones .carritoicon img{
	position: absolute;
	width: 2%;
	top: 1%;
	left: 96%;
}
.botones .puntosdeventaicon img{
	position: absolute;
	width: 2%;
	top: 1%;
	left: 94%;
}
.botones .usuarioicon img{
	position: absolute;
	width: 2%;
	top: 1%;
	left: 92%;
}
.botones .favoritosicon img{
	position: absolute;
	width: 2%;
	top: 1%;
	left: 90%;
}
.botones .seccionhombres img{
	position: absolute;
	width: 10%;
	top: 5%;
	left: 45%;
}		
.portada{
	background: #fff;
	float: left;
}
.portada .homeangeloshombre{
	width: 100%;
}
.portada .homeangeloshombre img{
	width: 100%;
	vertical-align: top;
}
.seccion02{
	background: #000000;
	float: left;
}
.seccion02 .seccionroia{
	width: 100%;
}
.seccion02 .seccionroia img{
	width: 49.5%;
	vertical-align: top;
}
.seccion03{
	background: #000000;
	float: left;
}
.seccion03 .seccioncais{
	width: 100%;
}
.seccion03 .seccioncais img{
	width: 49.5%;
	vertical-align: top;
}
footer{
	clear: both;
	background: #fff;
	padding: 1.5%;
	color: #000000;
	text-align: center;
}
header{
	background-color: #000000;
}
header nav{
	width: 100%;
}
header nav ul{
	width: 100%;
	overflow: hidden;
	list-style: none;
}
header nav ul li{
	float: left;
}
header nav ul li div{
	display: inline-block;
	padding: 1%;
}
